<div id='<%= dom_id @product_type %>'>
  <p>
    <span class='label'><%= ProductType.human_attribute_name('name') %>:</span>
    <%= in_place_editor_for @product_type, :name => 'name' %>
  </p>
</div>
