<h2>Editing your profile</h2>
<% semantic_form_for(@user, :url => profile_path) do |f| %>
  <% f.inputs do %>
    <%= render :partial => 'users/signup_fields', :locals => {:f => f} %>
    <%= render :partial => 'contacts/fields', :locals => {:f => f} %>
  <% end %>
  <%= f.buttons %>
<% end %>