<h2><%= t('signups.create.title') %></h2>

<% semantic_form_for(User.new, :url => signups_path) do |f| %>
  <% f.inputs do %>
    <%= render :partial => 'users/signup_fields', :locals => {:f => f} %>
  <% end %>
  <%= f.buttons %>
<% end %>

<%= link_to_function t('actions.cancel'), "$('#signup').hide()" %>