body {
    background: #D1D570;
}

#header {
  clear: both;
}

#header h1 {
  float: left;
  margin: 10px;
}

#main {
  clear: both;
  padding: 20px;
}

.label {
  font-weight: bold;
}

/* Begin Orders */
#content.orders.show {
  background: white;
  padding: 10px;
  border: 1px solid #6F705B;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

#orders {
  display: block;
}

#order {
  padding: 10px;
  margin-top: 10px;
  display: block;
  background: white;
  border: 1px solid #6F705B;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

#order h3 {
  margin: 0;
}
/* End Orders */