body {
  background: #D1D570;
}

#header {
  clear: both;
}

#header h1 {
  float: left;
  margin: 10px;
}

#main {
  clear: both;
  padding: 20px;
}

.label {
  font-weight: bold;
}

#content.show {
  background: white;
  padding: 10px;
  border: 1px solid #6F705B;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

/* Begin actions */
.actions {
  margin-left: 0;
  padding-left: 0;
  display: block;
  text-align: center;
}

.actions li.first {
  margin-left: 0;
  border-left: none;
  list-style: none;
  display: inline;
  padding: 0 5px 0 0;
}

.actions li {
  margin-left: 0;
  padding: 0 5px 0 10px;
  border-left: 1px solid #000;
  list-style: none;
  display: inline;
}
.actions li a {
  vertical-align: 8%;
}
/* End actions */

/* Begin index */
.list {
  display: block;
}

.element {
  padding: 10px;
  margin-top: 10px;
  display: block;
  background: white;
  border: 1px solid #6F705B;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

.element h3 {
  margin: 0;
}

.element .actions {
  display: inline;
}
/* End index */

/* Begin Orders */
/* End Orders */

/* Begin Contacts */
/* End Contacts */

/* Begin Dashboard */
#products_pie {
  margin: 0 auto;
  width: 400px;
  height: 260px;
}
#total_by_dow_hour {
  margin: 0 auto;
  width: 610px;
  height: 300px;
}
#total_by_dom {
  margin: 0 auto;
  width: 420px;
  height: 320px;
}
/* End Dashboard */