#diagram_actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.draggable-table {
  float: left;
  position: absolute;
}

.draggable-table .table-container .table-id {
  border: 1px solid black;
  display: inline-block;
}

.draggable-table .table-container .actions {
  display: none;
}

.draggable-table.ui-draggable:hover .table-container .actions {
  display: none;
}

.draggable-table:hover .table-container .actions {
  display: inline-block;
}

.draggable-table.ui-draggable .table-container .table-id {
  cursor: move;
}

.draggable-table.square.party_1 .table-container .table-id, .draggable-table.square.party_2 .table-container .table-id {
  width: 30px;
  height: 30px;
}

.draggable-table.square.party_1 .table-container .table-id h3, .draggable-table.square.party_2 .table-container .table-id h3 {
  margin-top: 6px;
  margin-left: 9px;
}

.draggable-table.round.party_1 .table-container .table-id, .draggable-table.round.party_2 .table-container .table-id {
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.draggable-table.round.party_1 .table-container .table-id h3, .draggable-table.round.party_2 .table-container .table-id h3 {
  margin-top: 6px;
  margin-left: 9px;
}

.draggable-table.square.party_3 .table-container .table-id{
  width: 50px;
  height: 30px;
}

.draggable-table.round.party_3 .table-container .table-id{
  width: 50px;
  height: 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.draggable-table .table-container {
  position: relative;
  display: inline-block;
}

.draggable-table .table-container h3 {
  clear: none;
  float: left;
  margin: 0;
}

.draggable-table .table-container .actions {
  margin: 0 0 0 5px;
  vertical-align: top;
  width: 150px;
}

#table_diagram {
  width: 98%;
  height: 350px;
  padding: 10px;
  position: relative;
}