<h2>Viewing <%= @order.to_s %></h2>
<% unless @order.closed? %>
<div id='add_order_item'>
  <h2>Add a new order item</h2>
  <%= render :partial => 'order_items/form' %>
</div>
<% end %>

<%= render @order %>